body{
    background-color: rgb(243, 243, 243);
}
.navbar {
    position: sticky;
    width: 100%;
    background-color: rgb(255, 255, 255);   
    flex: 20%;
    top: 0%;
}

.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
  }
.textsize{
    font-weight: bold;
    font-size: 1250%;
}
.container{
    height: 1000px;
    width: 1000px;
}
.containerchild{
    flex: 100%;
}